{% extends 'base.html' %}
{% load i18n %}
{% block content %}
 
<div class="section">
    <div class="container">
      <h2>Требования к оформлению статьи в ВАК</h2> 
        <br><br>
        <div>
          <ul style="list-style-type: none; ">
              <li style="font-size: 100%;"><span style="font-size:18px;color:black;"> Оригинальность текста: </span> не менее 75% (проверка в системе «антиплагиат»)</li>
              <li style="font-size: 100%;"><span style="font-size:18px;color:black;"> Минимальный объем статьи: </span>   5 страниц </li>
              <li style="font-size: 100%;"><span style="font-size:18px;color:black;"> Языки статьи: </span>   русский, английский</li>
              <li style="font-size: 100%;"><span style="font-size:18px;color:black;"> Шрифт: </span> Times New Roman</li>
              <li style="font-size: 100%;"><span style="font-size:18px;color:black;"> Размер шрифта: </span> 14 пунктов</li>
              <li style="font-size: 100%;"><span style="font-size:18px;color:black;"> Междустрочный интервал: </span> 1.5 пункта</li>
              <li style="font-size: 100%;"><span style="font-size:18px;color:black;"> Поля: </span> с каждой стороны листа по 2 см</li>
              <br>
              <li> <h3> Структура статьи </h3></li>
             <li> <span style="font-size:18px;color:black;">1. Заголовок/название статьи: </span> заглавными, жирными буквами, выравнивание по центру строки </li>
             <li> <span style="font-size:18px;color:black;">2. ФИО автора: </span> шрифт жирный курсив, выравнивание по правому краю </li>
             <li> <span style="font-size:18px;color:black;">3. Ученое звание, ученая степень, ВУЗ, страна, город: </span> шрифт курсив, выравнивание по правому краю (сокращения не допускаются).
                Если авторов статьи несколько, то информация повторяется для каждого автора.</li>
             <li> <span style="font-size:18px;color:black;"> 4. Аннотация</span></li>
             <li> <span style="font-size:18px;color:black;"> 5. Ключевые слова</span></li>
             <li> <span style="font-size:18px;color:black;"> 6. Текст статьи  </span></li>
             <li> <span style="font-size:18px;color:black;"> 7. Список литературы</span></li>
              <br>
             <h5> Статья не должна: быть ранее опубликована, а также представлена для рассмотрения и публикации в другом издании. <br> <br>
              Запрещается: использовать способы для обхода антиплагиата: слова-формулы, замену русских букв латинскими и т.д.
              Данные нарушения выявляются с помощью программного обеспечения и статья возвращается на доработку </h5>
            </ul>       
        </div>
    </div>
</div>

{% endblock %}