{% extends 'base.html' %}

{% block content %}
 
<div class="section">
    <div class="container">
      <h2>Требования к оформлению статьи в международной конференции Нидерландов</h2> 
        <br><br>
        <div>
          <ul style="list-style-type: none; ">
              <li style="font-size: 100%;"><span style="font-size:18px;color:black;"> Минимальный объем статьи: </span>   5 страниц </li>
              <li style="font-size: 100%;"><span style="font-size:18px;color:black;"> Шрифт: </span> Times New Roman</li>
              <li style="font-size: 100%;"><span style="font-size:18px;color:black;"> Размер шрифта: </span> 14 пунктов</li>
              <li style="font-size: 100%;"><span style="font-size:18px;color:black;"> Междустрочный интервал: </span> 1.5 пункта</li>
              <li style="font-size: 100%;"><span style="font-size:18px;color:black;"> Поля: </span> с каждой стороны листа по 2 см</li>
              <li style="font-size: 100%;"><span style="font-size:18px;color:black;"> Языки журнала: </span> рус, eng, қаз, україн, бел, aze, о'zbek, kyrgyz, հայերեն.</li>
              <br>
              <li> <h3> Структура статьи </h3></li>
             <li> <span style="font-size:18px;color:black;">1. Заголовок/название статьи: </span> заглавными, жирными буквами, выравнивание по центру строки на английском языке </li>
             <li> <span style="font-size:18px;color:black;">2. ФИО автора: </span> шрифт жирный курсив, выравнивание по правому краю на английском языке</li>
             <li> <span style="font-size:18px;color:black;">3. Ученое звание, ученая степень, ВУЗ, страна, город: </span> шрифт курсив, выравнивание по правому краю (сокращения не допускаются).
                Если авторов статьи несколько, то информация повторяется для каждого автора на английском языке.</li>
             <li> <span style="font-size:18px;color:black;"> 4. Текст статьи на английском языке </span></li>
             <li> <span style="font-size:18px;color:black;"> 5. Список литературы на английском языке</span></li>
              <br>
             <h5> Статья не должна: быть ранее опубликована, а также представлена для рассмотрения и публикации в другом издании. <br> <br>
              Запрещается: использовать способы для обхода антиплагиата: слова-формулы, замену русских букв латинскими и т.д.
              Данные нарушения выявляются с помощью программного обеспечения и статья возвращается на доработку </h5>
            </ul>       
        </div>
    </div>
</div>

{% endblock %}